.hero {
  height: 42.2rem;
  width: 100%;
  text-align: center;

  &__text {
    margin-bottom: 8.5rem; 
    &--h2 {
      height: 8rem;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  
    &--p {
      height: 11.2rem;
      width: 32.7rem;
      padding: 0px 5px;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }

  &__pattern {
    padding: 0px;
    vertical-align: bottom;
  }
}

.list {
  box-sizing: border-box;
  width: 100%;
  height: 100rem;
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
  
  &__pattern {
    padding: 0px;
    position: absolute;
    height: 24.4rem;
    width: 10rem;
    transform: translateX(86%) translateY(-5rem);
    object-fit: cover;
    object-position: 0 0;
  }

  &__title {
    width: 24rem;
    height: 20rem;
    text-align: left;
    margin-bottom: 4.5rem;

    &::before {
      @include accent-bar($light-coral);
    }
  }

  &__bullets {

    &--1,
    &--2,
    &--3 {
      margin-bottom: 4rem;
    }
  }
}

.testimonials {
  height: 160em;

  &__title {
    margin: auto;
    width: 90vw;
  }

  &__pattern--1 {
    padding: 0px;
    position: relative;
    top: 0px;
    left: -30%;
    display: inline-block;
    margin-bottom: 5rem;
  }

  &__pattern--2 {
    padding: 0px;
    float: right;
    margin-top: 8.5rem;
  }
}
