.header {
  background-color: $midnight-green;
  height: 10rem;
}

.menu {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bar {
    height: 3px;
    width: 100%;
    position: relative;
    background-color: $white;

    &--1 {

      &:hover {
        background-color: green;
      }
    }

    &--3 {
    }
  }
}